<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @part.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Game:</strong>
  <%= @part.game %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
