<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @game.overview %>
</p>

<p>
  <strong>Adventure hook:</strong>
  <%= @game.adventure_hook %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<%= link_to 'New Part', new_part_path %>
